doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Miisery
    body
        audio(src="../assets/mii1.wav" class="mii")
        audio(src="../assets/mii2.wav" class="mii")
        audio(src="../assets/mii3.wav" class="mii")
        audio(src="../assets/mii4.wav" class="mii")
        audio(src="../assets/mii5.wav" class="mii")
        audio(src="../assets/mii6.wav" class="mii")
        button(id="load") Load
        script(src="index.ts")
