doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Miisery
        link(rel="stylesheet" href="index.sass")
    body
        h1#docu(style="display: none") Press: a, s, d, f, g or h
        audio.mii(src="../assets/mii1.wav")
        audio.mii(src="../assets/mii2.wav")
        audio.mii(src="../assets/mii3.wav")
        audio.mii(src="../assets/mii4.wav")
        audio.mii(src="../assets/mii5.wav")
        audio.mii(src="../assets/mii6.wav")
        #load Load
        script(src="index.ts")
